*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    color: white;
    background-color: black;
}
@font-face {
    font-family:avtar;
    src: url(./AvertaCY-Regular.woff2);
}
@font-face {
    font-family:avtar1;
    src: url(./roboto-flex-variable-full.woff2);
}
@font-face {
    font-family:avtar2;
    src: url(./matter-regular.woff2);
}


html,body{
    width: 100%;
    height: 100%;
    font-family: avtar;
}

#main{
    width: 100%;
    background-color: white;
}
#hero{
    height: 100%;
    background-color: white;
}

#nav{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 1vw 2vw;
}

#nav img{
    width: 100px;
}

#nav .right{
    display: flex;
    align-items: center;
    gap: 30px;
}

.right a{
    text-decoration: none;
    color: black;
    font-weight: 550;
    font-family: avtar;
    letter-spacing: -1px;
    font-size: 1.3vw;
}

.right i{
    margin-top: 2px;
    font-size: 20px;
}

#hero-section{
    width: 100%;
    padding: 14vw 15vw;
}
#main-section h4{
    color: black;
    font-family: avtar;
    font-weight: 700;
    letter-spacing: -.1vw;
    font-size: 1.34vw;
}

#hero-section .headings{
    display: flex;
    gap:40px;
}

#hero-section .headings h1{
    font-family: avtar;
    font-size: 7vw;
    font-weight: 900;
    line-height: 1;
    letter-spacing: -5px;
    color: transparent;
    -webkit-text-stroke: .3px #000;
}

#hero-section .headings h1:hover{
    color: #000;
}

#hero-last{
    padding: 2vw 15vw;
    width: 70%;
}

#hero-last p{
    font-family: avtar;
    color: black;
    font-size: 1.6vw;
    letter-spacing: -.08vw;
    font-weight: 400;
}

#hero-last p::selection{
    color: white;
    background-color: black;
}

#feature{
    padding: 9vw 15vw;
}

#feature .fheading>h3{
    line-height: .9;
    color: black;
    font-family: avtar;
    font-size: 4.5vw;
    font-weight: 500;

}

#feature .fheading>h3:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

.fimage{
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    /* padding: 0vw 15vw; */
    margin-top: 5vw;
    display: flex;
}

.fleft{
    overflow: hidden;
    width: 45%;
      height: inherit;
      /* border: 1px solid red */

}

.fleftelem{
 display: flex;
 flex-direction: column;
 justify-content: center;
    width: 100%;
    height: inherit;
    font-family: avtar;
    /* background-color: red; */
}
.fleftelem h1{
    font-size: 2.4vw;
    line-height: 1;
    font-weight: 500;
    text-transform: capitalize;
    margin: 1.5vw 0;
}

.fleftelem h3{
    font-size: 1.4vw;
    font-family: avtar;
    font-weight: 400;
}
.fleftelem h4{
    opacity: .5;
}
.fright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
    height: inherit;
    /* border: 1px solid grey; */

    
}
.fright .images{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.fright .images img{
    opacity: 12;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.fbutton button{
    padding: 1.3vw 2.3vw;
    border-radius: 100px;
    font-size: 1vw;
    font-weight: 500;
    font-family: avtar;
    background-color: white;
    border: 2px solid rgb(238, 233, 233);
    letter-spacing: -1px;
}

#devlop{
    padding: 5vw 15vw;
    width: 100%;
}

#devlop h1{
    font-size: 3.7vw;
    width: 60%;
    font-weight: 400;
    /* letter-spacing: 1; */
    line-height: 1;
}

#devlop p{
    font-size: 1.5vw;
    width: 60%;
    margin-top: 20px;
    font-weight: 400;
    letter-spacing: -.3px;
}

#slider{
    padding: 3vw 10vw;
    gap: 30px;
    display: flex;
    justify-content: space-between;
}

 .slide1{
    width:33%;
}

.slide1 .img{
    overflow: hidden;
    width: 100%;
    height: 270px;
    /* background-color: rgb(104, 28, 196); */
    border-radius: 10px;

}
.slide1 .img img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.slide1 .text{
    background-color: #e7e7e7;
    /* border: 2px solid rgb(231, 229, 229); */
    width: fit-content;
    border-radius: 100px;
    margin: 17px 0;
    padding: 1vw 2vw;
}
.slide1 h3{
    /* margin-top: 10px; */
    font-size: 1.4vw;
    font-weight: 600;
    letter-spacing: -.5px;
    font-family: avtar;
}
